head
  style
    include expandable-checkbox-list.scss
div.content.mini
  section.row-between.expandable-checkbox
    h3 expandable checkbox list
    include ../1_3/buttons/button-more/button-more.pug
