head
  style
    include range-slider.scss
section.RangeSlider
  label.RangeSlider
    input(type='text')
    span.range-slider
      span.slider-line
      span.slider-circle.right
      span.slider-circle.left
