doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title Card0
  body
    container
      form.form0
        div.Block-header
          h1 Найдем номера под <br> ваши желания

        div.Block-select-row
          section.Block-select-date
            h3 Прибытие
            select
              option
                p ДД.ММ.ГГГГ

          section.Block-select-date
            h3 Выезд
            select
              option
                p ДД.ММ.ГГГГ

        div.Block-select-column
          h3 Гости
          select.Block-select-option
            option
              p Сколько гостей

        div.Block-sumbit
          butto.classic-button
            div.clear-block
            h3 Подобрать номер
            img(src="img/arrow_forward.png")
