doctype html
html
  head
    style
      include styles/fonts_colors.scss
    meta(charset="utf-8")
    title Colors and Fonts
  body
    container
      div.Main-block
        div.row.row-between
          div.column

            section.color-name
              div.color.Dark-Shade-100
              div.text
                h2 Dark Shade 100%
                p #1F2041

            section.color-name
              div.color.Dark-Shade-75
              div.text
                h2 Dark Shade 75%
                p #1F2041

            section.color-name
              div.color.Dark-Shade-50
              div.text
                h2 Dark Shade 50%
                p #1F2041

            section.color-name
              div.color.Dark-Shade-25
              div.text
                h2 Dark Shade 25%
                p #1F2041

            section.color-name
              div.color.Dark-Shade-5
              div.text
                h2 Dark Shade 5%
                p #1F2041

            section.color-name
              div.color.purple
              div.text
                h2 Purple
                p #BC9CFF

            section.color-name
              div.color.green
              div.text
                h2 Green
                p #6FCF97

          div.column
            section.row
              p.h1 H1
              h1.block__description This one is the sub-section or <br>widget title

            section.row
              p.h2 H2
              h2.block__description Next one is the item title inside <br>widgets

            section.row
              p.h3 H3
              h3.block__description THIS IS A LABEL OR CTA TEXT

            section.row
              p.block__body Body
              p.block__description-text
                | This is the body text which is used for most <br>of the design,
                | like paragraphs, lists, etc.
