head
  style
    include 1_1.scss
div.row.row-between
  div.column
    h3 date dropdown
    select.DateDropdown
      option
        p
          | ДД.ММ.ГГГГ

  div.column
    h3 date dropdown
    select.DateDropdown
      option
        p 19.08.2019
