head
  style
    include dropdown-default-open.scss
section.dropdown-default-open
  div.row
    input(
      class='clear-dropdown'
      type='text'
      value='3 гостя'
    )
    include ../1_3/buttons/button-more/button-more.pug

  div.column
    section.Section
      div.row.row-between
        h3 взрослые
        section.dropdown-select
          div.row.row-between
            button.button-round
              p -
            p 2
            button.button-round
              p +

      div.row.row-between
        h3 дети
        section.dropdown-select
          div.row.row-between
            button.button-round
              p -
            p 1
            button.button-round
              p +

      div.row.row-between
        h3 младенцы
        section.dropdown-select
          div.row.row-between
            button.button-round.transparent25
              p -
            p 0
            button.button-round
              p +

      section.row.row-between
        include ../1_3/buttons/easy-button/easy-button-clear.pug
        include ../1_3/buttons/easy-button/easy-button-sumbit.pug
