container {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}

.form1 {
	width: 380px;
	height: 511px;
}

.form2 {
	width: 320px;
	height: 369px;
}

.form3 {
	width: 380px;
	height: 646px;
}

.form4 {
	width: 380px;
	height: 358px;
}

.form5 {
	width: 270px;
	height: 257px;
}

form h3 {
	margin: 0 30px 5px 0;
}

.header {
	display: flex;
	flex-direction: row;
}

.header-line {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

.header h1 {
	margin: 40px 0 20px 30px;
}

.header-calendar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-calendar img{
	margin: 22px 22px 0 22px;
}

.header-calendar h2{
	margin-top: 20px ;
}

.header h3 {
	margin: 52px 100px 20px 5px;
	color: #BC9CFF;
}

.header p {
	margin: 50px 10px 0 0;
}

.header-line h2 {
	margin: 0 0 0 20px;
}

.header-line h3 {
	margin: 7px 0 0 5px;
	color: #BC9CFF;
}

.header-line p {
	margin: 2px 30px 0 35px;
}


.select-row {
	margin: 0 20px 20px 20px;
	display: flex;
	flex-direction: row;
}

.select-column-background {
	display: flex;
	flex-direction: column;
	height: 150px;
}

.select-row-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 29px;
}

.select-row-circles {
	display: flex;
	flex-direction: row;
}

.select-column-circles {
	margin-top: 130px;
	height: 150px;
}

.select-button {
	width: 42px;
	height: 44px;
	border: 0;
	margin-top: 55px;
}

.prev-button img{
		transform: rotate(180deg);
		margin: 15px 0 0 18px;
}

.next-button img{
		margin: 15px 16px;
}

.select-circles {
	width: 255px;
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.circles-button {
	width: 7.5px;
	height: 7.5px;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
	margin-left: 3.75px;
	border-radius: 50%;
}

.circles-button-active {
	background: #FFFFFF;
}

.select-date {
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	color: rgba(31, 32, 65, 0.75);
}

.select-calendar {
	margin: 27px 0 20px 23px;
	color: rgba(31, 32, 65, 0.5);
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

.select-calendar th{
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
}

.select-calendar-header {
	color: #BC9CFF;
}

.select-calendar-deactivated {
	color: rgba(31, 32, 65, 0.25);
}

.select-calendar-one {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius: 22px;
	color: #FFFFFF;
}

.select-calendar-first {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
}

.select-calendar-second {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
}

.select-calendar-between {
	background-image: url(../img/rectangle.png);
}

.select-calendar-between p {
	color: rgba(31, 32, 65, 0.5);
}

.select-column {
	margin-left: 30px;
}

.select-text input {
	margin-bottom: 10px;
}

.select-option {
	width: 320px;
	height: 44px;
	margin-bottom: 20px;
	padding-left: 15px;
}

.sex {
	display: flex;
	flex-direction: row;
	margin: 0 0 20px 30px;
}

.birthday {
	margin: 0 0 20px 30px;
}

.radio-switch {
	position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
	margin-right: 10px
}

.sex p {
	margin-right: 20px;
}

.information {
	width: 320px;
	margin: 0 0 20px 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.information-1 {
	display: flex;
	flex-direction: column;
}

.information-2 {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.information-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
}

.button-info {
	width: 20px;
	height: 20px;
	margin: 0 0 0 5px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 50%;
	color: rgba(31, 32, 65, 0.25);
	background-color: white;
	outline: none;
}

.information-2 p {
	margin-bottom: 10px;
}

.result {
	width: 320px;
	margin: 0 0 20px 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.sumbit {
	margin: 13px 30px 30px 30px;
}

.sumbit-authorization {
	margin: 10px 30px 30px 30px;
}

.sumbit-calendar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20px;
}

.classic-button {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-button:active {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	opacity: 0.5;
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-button h3 {
	margin-top: 5px;
	color: #FFFFFF;
}

.classic-button img {
	padding: 4px 5px;
}

.clear-block {
	width: 25px;
	height: 25px;
}

.authorization {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 30px;
}

.black-paragraph {
	color: #000000;
	margin: 9px 35px 0 0;
}

.line {
	margin: 10px 0 0 20px;
	border: 0.5px solid rgba(31, 32, 65, 0.1);
	width: 230px;
	height: 1px;
}

.stars {
	margin: 7px 0 0 20px;
}

.feedback {
	margin: 8px 31px 0 0;
}
