container {
	position: absolute;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}

.form0 {
	width: 380px;
	height: 374px;
}

.form1 {
	width: 380px;
	height: 511px;
}

.form2 {
	width: 320px;
	height: 369px;

}

.form3 {
	width: 380px;
	height: 646px;
}

form h3 {
	margin: 0 30px 5px 0;
}

select {
	width: 150px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: url(../img/expand_more.png) no-repeat right;
	background-position-x: calc(100% - 8px);
}

.Block-header{
	display: flex;
	flex-direction: row;
}

.Block-header h1 {
	margin: 40px 0 20px 30px;
}

.Block-header-calendar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Block-header-calendar img{
	margin: 20px 20px 0 20px;
}

.Block-header h3 {
	margin: 52px 100px 20px 5px;
	color: #BC9CFF;
}

.Block-header p {
	margin: 50px 10px 0 0;
}

.Block-select-row {
	margin: 0 20px 20px 20px;
	display: flex;
	flex-direction: row;
}

.Block-select-coming {
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	color: rgba(31, 32, 65, 0.75);
}

.Block-select-leaving {
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	color: rgba(31, 32, 65, 0.75);
}

.Block-select-calendar {
	margin: 0 20px 20px 20px;
	color: rgba(31, 32, 65, 0.5);
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

.Block-select-calendar th{
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0;
}

.Block-select-calendar-header {
	color: #BC9CFF;
}

.Block-select-calendar-deactivated {
	color: rgba(31, 32, 65, 0.25);
}

.Block-select-calendar-one {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius: 22px;
	color: #FFFFFF;
}

.Block-select-calendar-first {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
}

.Block-select-calendar-second {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: #FFFFFF;
}

.Block-select-calendar-between {
	background-image: url(../img/rectangle.png);
}

.Block-select-calendar-between p {
	color: rgba(31, 32, 65, 0.5);
}

.Block-sex {
	display: flex;
	flex-direction: row;
}

.Block-radio-switch {
	position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.Block-radio-switch input {display:none;}

.radio-switcher {
	position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
	background: white;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
}

.radio-switcher:before {
	position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
	background: white;
	border-radius: 10px;
}

input:checked + .radio-switcher:before {
	box-sizing: border-box;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 10px;
}

.Block-select-checkbox {
	display: flex;
	flex-direction: row;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
	box-sizing: border-box;
}

.switch:after {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
	border-radius: 10px;
	border: 1px solid #BC9CFF;
	box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
	background: rgba(31, 32, 65, 0.25);
	border-radius: 10px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 10px;
}

.Block-guests {
	margin: 0 30px 0 30px;
}

.Block-guests-option {
	width: 320px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 30px;
	color: rgba(31, 32, 65, 0.75);
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: url(../img/expand_more.png) no-repeat right;
	background-position-x: calc(100% - 8px);
}

.Block-information {
	width: 320px;
	margin: 0 0 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Block-information-1 {
	display: flex;
	flex-direction: column;
}

.Block-information-2 {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.Block-information-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button-info {
	width: 20px;
	height: 20px;
	margin: 0 0 0 5px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 50%;
	color: rgba(31, 32, 65, 0.25);
	background-color: white;
	outline: none;
}

.Block-result {
	width: 320px;
	margin: 0 0 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Block-sumbit {
	margin: 0 30px 30px 30px;
}

.Block-sumbit-calendar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20px;
}

.classic-button {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-button:active {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	opacity: 0.5;
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-button h3 {
	padding: 5px 50px 0 0;
	color: #FFFFFF;
}

.classic-button img {
	padding-top: 3px;
}

.calendar-button-sumbit{
	outline: none;
	text-decoration: none;
}

.calendar-button-sumbit h3 {
	color: #BC9CFF;
}

.calendar-button-clear {
	outline: none;
	text-decoration: none;
}

.calendar-button-clear h3 {
	color: rgba(31, 32, 65, 0.5);
}
