.Block-textfield-standart {
	width: 320px;
	margin-bottom: 22px;
}

.Block-textfield-little {
	width: 266px;
	margin-top: 40px;
}

.Block-textfield-little h3 {
	margin-bottom: 5px;
}

.Block-row {
	height: 19px;
}

.Block-column {
	margin-right: 20px;
}

.Block-row p {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
}

.Block-dropdown {
	width: 150px;
}

.Block-dropdown select {
	margin-top: 7px;
}
