.form0 {
	width: 380px;
	height: 374px;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.form1 {
	width: 380px;
	height: 511px;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.form2 {
	width: 320px;
	height: 369px;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
	border-radius: 4px;
}

form h3 {
	margin: 0 30px 5px 0;
}

select {
	width: 150px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: url(../img/expand_more.png) no-repeat right;
	background-position-x: calc(100% - 8px);
}

.classic-button {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
}

.classic-button h3 {
	padding: 5px 50px 0 0;
	color: #FFFFFF;
}

.classic-button img {
	padding-top: 3px;
}

.Block-header{
	display: flex;
	flex-direction: row;
}

.Block-header h1 {
	margin: 40px 0 20px 30px;
}

.Block-header-calendar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Block-header-calendar img{
	margin: 20px 20px 0 20px;
}

.Block-header h3 {
	margin: 52px 100px 20px 5px;
	color: #BC9CFF;
}

.Block-header p {
	margin: 50px 10px 0 0;
}

.Block-select {
	margin: 0 20px 20px 20px;
	display: flex;
	flex-direction: row;
}

.Block-select-coming {
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	color: rgba(31, 32, 65, 0.75);
}

.Block-select-leaving {
	margin: 0 10px 0 10px;
	display: flex;
	flex-direction: column;
	color: rgba(31, 32, 65, 0.75);
}

.Block-guests {
	margin: 0 30px 0 30px;
}

.Block-guests-option {
	width: 320px;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 30px;
	color: rgba(31, 32, 65, 0.75);
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: url(../img/expand_more.png) no-repeat right;
	background-position-x: calc(100% - 8px);
}

.Block-information {
	width: 320px;
	margin: 0 0 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Block-information-1 {
	display: flex;
	flex-direction: column;
}

.Block-information-2 {
	display: flex;
	flex-direction: column;
	text-align: right;
}

.Block-information-button {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button-info {
	width: 20px;
	height: 20px;
	margin: 0 0 0 5px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 50%;
	color: rgba(31, 32, 65, 0.25);
	background-color: white;
	outline: none;
}

.Block-result {
	width: 320px;
	margin: 0 0 0 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Block-sumbit {
	margin: 0 30px 30px 30px;
}
