@font-face {
	font-family: 'Quicksand';
	src: url('fonts/Quicksand-Regular.eot');
	src: local('☺'), url('../fonts/Quicksand-Regular.woff') format('woff'), url('../fonts/Quicksand-Regular.ttf') format('truetype'), url('../fonts/Quicksand-Regular.svg') format('svg');
	font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Montserrat';
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

body p {
  margin: 0;
}

h1 {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
	margin: 0;
}

h2 {
  font-family: 'Quicksand';
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
  margin: 0;
}

h3 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
	margin: 0;
}

select {
	width: 100%;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding-left: 15px;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
	background: url(../img/expand_more_grey.png) no-repeat right;
	background-position-x: calc(100% - 15px);
	outline: none;
}

input {
	width: 100%;
	height: 44px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
	padding-left: 15px;
	outline: none;
}

.Dark-Shade-100 {
	color: #1F2041;
}

.Dark-Shade-75 {
	color: rgba(31, 32, 65, 0.75);
}

.Dark-Shade-50 {
	color: rgba(31, 32, 65, 0.5);
}

.Dark-Shade-25 {
	color: rgba(31, 32, 65, 0.25);
}

.Dark-Shade-5 {
	color: rgba(31, 32, 65, 0.05);
}

.Block-purple {
	color: #BC9CFF;
}

.Block-green {
	color: #6FCF97;
}

.Block-column {
	display: flex;
	flex-direction: column;
}

.Block-row {
	display: flex;
	flex-direction: row;
}

.Block-DateDropdown {
	width: 150px;
}

.Block-dropdown-select {
	width: 92px;
	margin: 6px 7px 0 0;
}

.Block-RadioButton {
	position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
	margin-right: 10px;
}

.Block-RadioButton input {display:none;}

.radio-switcher {
	position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
	background: white;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
}

.radio-switcher:before {
	position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
	background: white;
	border-radius: 10px;
}

input:checked + .radio-switcher:before {
	box-sizing: border-box;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 10px;
}

input:checked + .radio-switcher {
	border: 1px solid #BC9CFF;
}

.Block-ToggleButton {
	display: flex;
	flex-direction: row;
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 10px;
	margin-right: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
	box-sizing: border-box;
}

.switch:after {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
	border-radius: 10px;
	border: 1px solid #BC9CFF;
	box-sizing: border-box;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
	background: rgba(31, 32, 65, 0.25);
	border-radius: 10px;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 10px;
}

.Block-CheckboxButton {
	position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
	margin: 0 10px 10px 0;
}

.Block-CheckboxButton input {display:none;}

.CheckboxButton {
	position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
	background: white;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 4px;
}

.CheckboxButton:before {
	position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
	background: white;
}

input:checked + .CheckboxButton:before {
	box-sizing: border-box;
	background: url(../img/vector.png) no-repeat center;
}

input:checked + .CheckboxButton {
	border: 1px solid #BC9CFF;
}

.like {
	position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
	margin: 0 10px 10px 0;
}

.Block-LikeButton input {display:none;}

.like-button {
	position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
	background: white;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 10px;
}

.like-button p {
	color: rgba(31, 32, 65, 0.25);
	text-align: right;
	margin: 4px 10px 0 0;
	font-size: 10px;
	line-height: 12px;
}

.like-button:before {
	position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
	background: white;
	background: url(../img/favorite_border.png) no-repeat center;
}

input:checked + .like-button:before {
	box-sizing: border-box;
	background: url(../img/favorite.png) no-repeat center;
}

input:checked + .like-button {
	border: 1px solid #BC9CFF;
}

input:checked + .like-button p {
	color: #BC9CFF;
}

.RangeSlider input {display:none;}

.RangeSlider {
	width: 266px;
	height: 6px;
}

.range-slider {
	position: absolute;
	width: 266px;
	height: 6px;
	background: #FFFFFF;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 3px;
}

.slider-circle {
	position: absolute;
  content: "";
  height: 12px;
  width: 12px;
	bottom: -6px;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}

.slider-line {
	position: absolute;
	left: 80px;
	width: 88px;
	height: 6px;
	bottom: -1px;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.right {
	left: 77px;
}

.left {
	right: 92px;
}

.Block-stars {
	padding: 0;
}

.star-button {
	border: 0;
	background-color: white;
	width: 20px;
	padding: 0;
	outline: none;
}

.classic-MiniButton {
	width: 100px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-MiniButton:active {
	width: 100px;
	height: 44px;
	display: flex;
	flex-direction: row;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	opacity: 0.5;
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-MiniButton h3 {
	margin-top: 5px;
	color: #FFFFFF;
}

.classic-button {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-button:active {
	width: 320px;
	height: 44px;
	display: flex;
	flex-direction: row;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	opacity: 0.5;
	border-radius: 22px;
	outline: none;
	border: 0px;
}

.classic-button h3 {
	margin-top: 5px;
	color: #FFFFFF;
}

.classic-button img {
	padding: 4px 5px;
}

.Block-transparent-button {
	width: 96px;
	height: 40px;
	border-radius: 22px;
	background-color: white;
}

.transparent-button {
	width: 100px;
	height: 44px;
	padding: 2px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	outline: none;
	text-decoration: none;
	border: 0;
}

.transparent-button h3 {
	color: #BC9CFF;
	padding-top: 12px;
}

.transparent-button:active {
	opacity: 0.5;
}

.calendar-button-sumbit{
	width: 84px;
	height: 15px;
	outline: none;
	border: 0;
	background: white;
}

.calendar-button-sumbit:active h3 {
	color: rgba(31, 32, 65, 0.5);
}

.calendar-button-sumbit h3 {
	width: 84px;
	height: 15px;
	color: #BC9CFF;
}

.calendar-button-clear {
	width: 84px;
	height: 15px;
	outline: none;
	border: 0;
	background: white;
}

.calendar-button-clear h3 {
	width: 84px;
	height: 15px;
	color: rgba(31, 32, 65, 0.5);
}

.calendar-button-clear:active h3 {
	color: rgba(31, 32, 65, 0.25);
}

.row-between {
	display: flex;
  justify-content: space-between;
}

.column-between {
	display: flex;
	align-content: space-between;
}

.clear-input {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-right: none;
}

.clear-dropdown {
	border: none;
}

.button-arrow {
	width: 44px;
	height: 44px;
	background: white;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-left: none;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	outline: none;
	background: url(../img/arrow_forward_blue.png) no-repeat right;
	background-position-x: calc(100% - 11px);
}

.button-more {
	width: 44px;
	height: 44px;
	background: white;
	border: none;
	outline: none;
	background: url(../img/expand_more_grey.png) no-repeat right;
	background-position-x: calc(100% - 15px);
}

.button-round {
	width: 30px;
	height: 30px;
	border: 1px solid rgba(31, 32, 65, 0.25);
	box-sizing: border-box;
	border-radius: 22px;
	background: white;
	color: rgba(31, 32, 65, 0.5);
}

.checkbox_buttons {
	margin-top: 16px;
}

.radio_buttons {
	margin-right: 15px;
}

.pagination-buttons {
	width: 40px;
	height: 40px;
	border: 0;
	outline: none;
	background: white;
}

.dots {
	display: flex;
	align-items: center;
	width: 25px;
	height: 40px;
	padding-left: 15px;
}

.selected {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-radius: 22px;
	color: white;
	font-size: 12px;
	line-height: 15px;
	font-style: normal;
	font-weight: bold;
}

.arrow {
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius: 22px;
}

.Block-dropdown-default-open {
	border: 1px solid rgba(31, 32, 65, 0.5);
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.Block-Section {
	height: 100%;
	padding-bottom: 7px;
	box-sizing: border-box;
	border-top: 1px solid rgba(31, 32, 65, 0.5);
}

.Block-Section h3 {
	display: flex;
	margin: 13px 0 0 15px;
}

.Block-Section p {
	display: flex;
	align-items: center;
}

.button-round p {
	display: flex;
	justify-content: center;
}

.transparent25 {
	opacity: 0.25;
}
