head
  style
    include pagination.scss
section.row
  button(class='pagination-buttons selected' type='button' name='button')
    p 1
  button(class='pagination-buttons' type='button' name='button')
    p 2
  button(class='pagination-buttons' type='button' name='button')
    p 3
  p.dots
    | ...
  button(class='pagination-buttons' type='button' name='button')
    p 15
  button(class='pagination-buttons arrow' type='button' name='button')
    img(src=require('./arrow_forward_white.png'))
div.clear
  p 1 – 12 из 100+ вариантов аренды
