head
  style
    include dropdown-default.scss
section.dropdown-default
  .row.dropdown
    input(class='clear-dropdown' type='text' value='2 спальни, 2 кровати...')
    include ../buttons/button-more/button-more.pug
