.comfort {
	margin-top: 20px;
}

.comfort img {
	width: 45px;
}

.comfort__text {
	height: 45px;
	margin-left: 10px;
}

.comfort__text p {
	margin-top: 5px;
}

.line {
	width: 280px;
	height: 1px;
	background: rgba(31, 32, 65, 0.1);
	margin-top: 20px;
}
