@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quicksand-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/quicksand-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/quicksand-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/quicksand-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/quicksand-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/quicksand-v20-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}

section {
  display: flex;
  flex-direction: row;
}

container {
  display: flex;
  flex-direction: row;
  margin-top: 140px;
}

h1 {
  margin: 10px 15px 40px 15px;
  font-size: 24px;
  line-height: 30px;
  color: #1F2041;
}

h2 {
  margin: 10px 15px 40px 15px;
  font-size: 19px;
  line-height: 24px;
  color: #1F2041;
}

.Block-h1 {
  font-size: 24px;
  line-height: 29px;
  padding: 0 15px 15px 15px;
  margin: 10px 0 35px 0;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
}

.Block-h2 {
  padding: 0 15px 15px 17px;
  margin: 10px 0 35px 0;
  font-size: 19px;
  line-height: 23px;
  text-align: right;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
}

.Block-h3 {
  padding: 0 15px 15px 15px;
  margin: 10px;
}

.Block-body {
  padding: 0 15px 15px 15px;
  margin: 10px;
}

.Block-colors {
  margin-right: 427px;
}

.Block-color-name {
  display: flex;
  flex-direction: row;
}

.Text-Dark-Shade-100 {
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Dark-Shade-100 {
  width: 70px;
  height: 70px;
  background: #1F2041;
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Dark-Shade-75 {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Dark-Shade-75 {
  width: 70px;
  height: 70px;
  background: rgba(31, 32, 65, 0.75);
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Dark-Shade-50 {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Dark-Shade-50 {
  width: 70px;
  height: 70px;
  background: rgba(31, 32, 65, 0.5);
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Dark-Shade-25 {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Dark-Shade-25 {
  width: 70px;
  height: 70px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Dark-Shade-25 {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Dark-Shade-25 {
  width: 70px;
  height: 70px;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Dark-Shade-5 {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Dark-Shade-5 {
  width: 70px;
  height: 70px;
  background: rgba(31, 32, 65, 0.05);
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Block-purple {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Block-purple {
  width: 70px;
  height: 70px;
  background: #BC9CFF;
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}

.Text-Block-green {
  width: 159px;
  height: 57px;
  line-height: 29px;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 20px;
}

.Block-green {
  width: 70px;
  height: 70px;
  background: #6FCF97;
  border-radius: 6px;
  margin: 10px 20px 10px 150px;
}
