head
  style
    include radio.scss
div.row.radio_buttons
  section.row
    label.RadioButton
      input(type='checkbox')
      span.radio-switcher
    p Мужчина
  section.row
    label.RadioButton
      input(type='checkbox')
      span.radio-switcher
    p Женщина
