div.column.first-column
  div.content.description
    div.row.row-between
      h3 text field
      p default
    include 1_1/textfield-default.pug

  div.content.description
    div.row.row-between
      h3 text field
      p Hover / Focus
    include 1_1/textfield-hover.pug

  div.content.description
    div.row.row-between
      h3 dropdown
      p default
    include 1_1/dropdown-default.pug

  div.content.description
    div.row.row-between
      h3 masked text field
      p default
    include 1_1/masked-textfield.pug

  div.content.description
    include 1_1/date-dropdown.pug

  div.content.mini
    h3 filter date dropdown
    include 1_1/filterdate-dropdown.pug

  div.content.mini
    h3 subscription text field
    include 1_1/subscription-textfield.pug
