div.column.second-column
  div.content.mini
    h3.description Checkbox Buttons
    section.row.checkbox_buttons
      include 1_2/checkbox/checkbox-button.pug
      p Можно курить

    section.row
      include 1_2/checkbox/checkbox-button.pug
      p Можно с питомцами

    section.row
      include 1_2/checkbox/checkbox-button.pug
      p Можно пригласить гостей <br>  (до 10 человек)

    div.RadioButtons
      h3 Radio Buttons
      include 1_2/radio/radio-button.pug


    div.Toggle
      h3 Toggle
      include 1_2/toggle/toggle-button.pug
      include 1_2/toggle/toggle-button.pug

    div.LikeButton
      h3 Like Button
      div.row
        include 1_2/like/like-button.pug
        include 1_2/like/like-button.pug

    div.RateButton
      h3 Like Button
      div.row.row-between
        include 1_2/rating/stars-button.pug
        include 1_2/rating/stars-button.pug
