div.column.third-column
  div.content.mini
    div.row.row-between.description
      h3 range slider
      p 5 000₽ - 10 000₽
    include 1_3/range-slider/range-slider.pug

  div.content.description
    h3 Buttons
    div.column.colunm-between.buttons-size
      section.row.row-between
        include 1_3/buttons/classic-MiniButton/classic-MiniButton.pug
        include 1_3/buttons/classic-MiniButton/classic-MiniButton-active.pug

      section.row.row-between
        include 1_3/buttons/transparent-button/transparent-button.pug
        include 1_3/buttons/transparent-button/transparent-button-active.pug


      section.row
        include 1_3/buttons/easy-button/easy-button-sumbit.pug
        include 1_3/buttons/easy-button/easy-button-clear.pug

    section
      include 1_3/buttons/classic-button/classic-button.pug

  div.content.description
    section.pagination
      h3 pagination
      include 1_3/pagination/pagination.pug
