div.column.first-column.description
  div.content.mini
    div.row.row-between
      h3 dropdown
      p default
    include ./dropdown-default/dropdown-default.pug

  div.content.mini
    div.row.row-between
      h3 dropdown
      p expanded
    include ./2_1/dropdown-default-open.pug
