div.column.second-column.description
  div.content
    div.row.row-between
      h3 dropdown
      p expanded

    section.dropdown-default-open
      div.row
        input(
          class='clear-dropdown'
          type='text'
          value='Сколько гостей'
        )
        button.button-more

      div.column
        section.Section
          div.row.row-between
            h3 взрослые
            section.dropdown-select
              div.row.row-between
                button.button-round.transparent25
                  p -
                p 0
                button.button-round
                  p +

          div.row.row-between
            h3 дети
            section.dropdown-select
              div.row.row-between
                button.button-round.transparent25
                  p -
                p 0
                button.button-round
                  p +

          div.row.row-between
            h3 младенцы
            section.dropdown-select
              div.row.row-between
                button.button-round.transparent25
                  p -
                p 0
                button.button-round
                  p +

          section.row
            button.calendar-button-sumbit
              h3 click me
