head
  style
    include rich-checkbox.scss
include ../checkbox/checkbox-button.pug
.content.mini
  .rich-checkbox
    .row.richcheckbox__button
      +checkbox('')
      .column
        h3.Dark-Shade-75 широкий коридор
        p.Dark-Shade-50 Ширина коридоров в номере <br> не менее 91 см.
    .row.richcheckbox__button
      +checkbox('')
      .column
        h3.Dark-Shade-75 помошник для инвалидов
        p.Dark-Shade-50 На 1 этаже вас встретит специалист <br> и проводит до номера.
